@using SharedLogic.Styling
@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="true"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div style="width: 100%; height: 100%;">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = Styling.MythologistTheme();
    }

}


